@using OdeToFoodBusiness
@model Restaurant

<div class="panel panel-default">
    <div class="panel-heading">
        Partial view summary : @Model.Name - @Model.Location - @Model.RestaurantType
    </div>
</div>
